<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>Booking | Flight</title>
    
    <!--Template based on URL below-->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Place your stylesheet here-->
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/flight.css">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <img src="../static/images/BookingGo.png" alt="BookingGo" class="navbar-brand">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav navbar-right">
           <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> HOME<span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="/flight"><i class="fa fa-plane" aria-hidden="true"></i> FLIGHT</a>
            </li>
           
           
        </ul>        
    </div>
</nav>



<!--Content Start-->
<div class="slider">
      <img src="../static/images/flg1.jpg" alt="BookingGo"  width="1520" height="1000">
</div>
<!-- Search Section -->
<section class="bg-dark text-white p-5">
    <div class="container">
         <form action="\predict" method="post">
        <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-check-label">Departure Date</label>
                       <input type="datetime-local" class="form-control" name="Dep_Time" id="Dep_Time" required="required">
                    </div>
                </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-check-label">Arrival Date</label>
<input type="datetime-local" class="form-control"  name="Arrival_Time" id="Arrival_Time" required="required"> 
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-check-label">Source</label>
                    <select name="Source" id="Source" required="required" class="form-control">
                                <option value="Delhi">Delhi</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                            </select>
                </div>
            </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="form-check-label">Destination</label>
              <select name="Destination" id="Destination" required="required" class="form-control">
                                <option value="Cochin">Cochin</option>
                                <option value="Delhi">Delhi</option>
                                <option value="New Delhi">New Delhi</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Kolkata">Kolkata</option>
                            </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label class="form-check-label">Stopage</label>
               <select name="stops" required="required" class="form-control">
                                <option value="0">Non-Stop</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label class="form-check-label"></label>
              
                            <select name="airline" id="airline" required="required"  class="form-control">
                                <option value="Jet Airways">Jet Airways</option>
                                <option value="IndiGo">IndiGo</option>
                                <option value="Air India">Air India</option>
                                <option value="Multiple carriers">Multiple carriers</option>
                                <option value="SpiceJet">SpiceJet</option>
                                <option value="Vistara">Vistara</option>
                                <option value="Air Asia">Air Asia</option>
                                <option value="GoAir">GoAir</option>
                                <option value="Multiple carriers Premium economy">Multiple carriers Premium economy
                                </option>
                                <option value="Jet Airways Business">Jet Airways Business</option>
                                <option value="Vistara Premium economy">Vistara Premium economy</option>
                                <option value="Trujet">Trujet</option>
                            </select>
            </div>
        </div>
            <div class="col-md-2">
               <input type="submit" value="Submit" class="btn btn-danger">
            </div>
        </div>
    </div>
 </div>
</form>
</section>
<br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>

<footer class="py-4 bg-black ">
    <div class="container-fluid">
        <div class="row footer-row">
            <div class="col-sm-3">
                <img src="../static/images/BookingGo.png" alt="BookingGo">      
            </div>
           
            <div class="col-sm-3">
                <h5>Location</h5>
                <p class="lead small"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangalore</p>
                <p class="lead small"><i class="fa fa-phone" aria-hidden="true"></i> +91 1182892938</p>
            </div>
            <div class="col-sm-4">
                <h5>Social Media</h5>
                <p class="lead small"></p>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
        </div>
        <hr class="divider">
        <div class="text-center">
            <div class="text-white small">&copy; Sourav</div>
        </div>
    </div>
</footer>

<!--Footer End-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>